.container {
    padding-right:6px;
    padding-left:6px;
    margin-right:auto;
    margin-left:auto
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0;
}

td
{
    font-family: "Verdana";
    font-size:14px;
}

object {
    display: inline-block;
    width: 100vw;
    height: 100vh;
  }

  code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
  }